body {
    font-family: 'Open Sans',sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #6c757d;
    background-color: #edf1f5;
}
a {
    color: #e66767;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover{
    color: #6c757d;
}
.clear {
    clear:both;
}
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}
#content-box {
    width: 100%;
    padding: 0px;
    min-height: 100vh;
    transition: all 0.3s;
}
#content-main {
    min-height: 84vh;
    padding: 10px;
}
#top-nav {
    padding: 0 30px;
    background-color: #fff;
    min-height: 80px;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
}

.topheading-text{
    float: left;
    padding-left: 15px;
    width: 90%;
}
.topheading{
    font-size: 28px;
    font-weight: 600;
    padding-top: 18px;
    font-family: 'Source Sans Pro',Arial,Helvetica,sans-serif;
    color: #6c757d;
    text-transform: uppercase;
    text-shadow: 2px 2px rgba(100,100,100,0.1);
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding:10px;
}

.footer {
    background: #ffffff;
    color: #98a6ad;
    text-align: center;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);

}

.footer div {
    padding: 25px 10px;
}
.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.card .header-title {
    margin-bottom: 30px;
    border-bottom: 1px solid #edf1f5;
    padding-bottom: 15px;
    font-weight: 600;
}

.card .header-title h2, 
.card .header-title h3 {
    text-transform: uppercase;
}
.card-body {
    padding: 30px;
    height: 100%;
    border-radius: 5px;
}
#accordion .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #e66767;
    border-bottom: 1px solid rgb(255, 255, 255);
}
#accordion .card {
    box-shadow: none;
}
#accordion .card-body {
    padding: 25px;
    background: #edf1f5;
    border-radius: 0;
}
#accordion .card-header a,
#accordion .card-header h4 {
    color:#ffffff;
    text-decoration: none;
}
#accordion .card-header a:before,
#accordion .card-header a.collapsed:before{
    content: "\f068";
    font-family: "Font Awesome 5 Free";
    width: 25px;
    height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-weight: 900;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 8px;
    right: 15px;
}
#accordion .card-header a.collapsed:before{
    color: #FFFFFF;
    content: "\f067";
}

/* Left Menu */
#left-menu {
    min-width: 300px;
    max-width: 300px;
    min-height: 100vh;
    padding:0;
    background: #ffffff;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
}

#left-menu .logo {
    padding: 13px 15px;
}

#left-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#left-menu a {
    padding:12px 20px;
    text-decoration: none;
    /* font-weight: 600; */
    font-size: 18px;
    display: block;
    color: #6c757d;
}

#left-menu .svg-inline--fa {
    margin:0 5px;
}

#left-menu a:hover{
    background: #edf1f5;
    color:#e66767;
    display: block;
}

#left-menu .active a {
    color:#e66767;
    background: #edf1f5;
}

#left-menu .dashboard a {
    color:#ffffff;
    background: #e66767;
}

#left-menu .collapsed-ul li {
    padding-left:20px;
    padding-top:5px;
}
#left-menu .collapsed-ul a  {
    padding: 10px 15px;
    font-size:16px;
    display:block;
    background:none !important;

}

#left-menu .collapsed-ul {
    border-left: 6px solid #e66767;
}

#left-menu .helpbox{
    border-top:3px solid #edf1f5;
    padding-top: 10px;
}

#left-menu.active {
    margin-left: -300px;
    transform: rotateY(100deg);
}

#leftmenuCollapse {
    background: none;
    border:none;
    color: #6c757d;
    float: left;
    cursor: pointer;
    
}

.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

  #leftmenuCollapse .icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0c9";
  }
  #leftmenuCollapse.active .icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f101";
   }

@media (max-width: 768px) {
    #left-menu {
        margin-left: -300px;
        transform: rotateY(90deg);
        z-index: 1000;
        position: relative;
    }
    #left-menu.active {
        margin-left: 0;
        transform: none;
    }
    #content-box {
        width: 100%;
        padding: 0px;
        min-height: 100vh;
        transition: all 0.3s;
        margin-left:0px;
    }

}

/* Headings */
h1, h2, h3, h4 {
    color: #6c757d;
    font-weight: 600;
}
h1 {
    font-size: 1.6rem;
}
h2 {
    font-size: 1.4rem;
}
h3 {
    font-size: 1.2rem;
}
h4 {
    font-size: 1rem;
}

/* Color Platte */
:root {
    --primary: #e66767;
}
.bg-primary {
    background-color: #e66767 !important;
}

.bg-light{
    background-color: #edf1f5 !important;
}

.bg-dark {
    background-color: #424B54 !important;
}

.bg-font {
    background-color: #6C757D !important;
}

.bg-code-text {
    background-color: #1a73e8 !important;
}

.text-primary {
    color: #e66767 !important;
}

.text-dark {
    color: #424B54 !important;
}
code, code a {
    color: #e66767;
    word-break: break-word;
    font-weight: 600;
    font-size: inherit;
    font-family: inherit;
    background: #f5f8fa;
    padding: 1px 5px;
    border-radius: 4px;
}
/* Alerts */
.alert .svg-inline--fa {
    margin-right: 10px;
}
/* Tabs */

.nav-item {
    margin-right: 20px;
}
.nav-pills .nav-link {
    border-radius:0;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    color:#6C757D;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    border-bottom: 3px solid #e66767;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    background: none;
    color:#e66767;
    border-radius:0;
}

.nav-pills {
    border-bottom: 3px solid #edf1f5;
}

/* Tooltips & Popovers */
.tooltip-box{
    margin:20px 20px 20px 0;
}
.tooltip-box a, .tooltip-box span  {
    margin: 15px 15px 15px 0;
}

.tooltip-box span .svg-inline--fa {
    font-size: 30px;
    cursor: pointer;
    margin: 15px 15px 0 0;
}

/* Buttons */
.btn {
    display:inline-block;
    font-weight:400;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    -webkit-transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 10px 10px 20px 10px;
}
.btn-primary{
    color:#fff;
    background-color:#e66767;
    border-color:#e66767;
    -webkit-box-shadow: 0 2px 6px 0  rgb(241, 177, 177);
    box-shadow: 0 2px 6px 0  rgb(241, 177, 177);
    float: none;
    text-align: center;
    outline: none;
}
.btn-primary:hover{
    color:#fff;
    background-color:#ca4343;
    border-color:#ca4343;
}
.btn-primary.focus,.btn-primary:focus{
    outline:0;
    -webkit-box-shadow:0 0 0 0.2rem rgb(241, 177, 177);
    box-shadow:0 0 0 0.2rem rgb(241, 177, 177);
}
.btn-primary:focus,.btn-primary:hover{
    text-decoration:none;
}
.btn-primary.disabled,.btn-primary:disabled{
    color:#fff;
    opacity:.65;
    background-color:#f99595;
    border-color:#f99595;
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color:#e66767;
    border-color:#ca4343;
    cursor:pointer;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 .2rem rgb(241, 177, 177);
    box-shadow:0 0 0 .2rem rgb(241, 177, 177);
}
.btn-outline-primary{
    color:#e66767;
    background-color:transparent;
    background-image:none;
    border-color:#e66767;
}
.btn-outline-primary:hover{
    color:#fff;
    background-color:#e66767;
    border-color:#e66767;
}
.btn-outline-primary.focus,.btn-outline-primary:focus{
    -webkit-box-shadow:0 0 0 0.2rem rgb(241, 177, 177);
    box-shadow:0 0 0 0.2rem rgb(241, 177, 177);
}
.btn-outline-primary.disabled,.btn-outline-primary:disabled{
    color:#e66767;
    background-color:transparent
}
.btn-outline-primary:not(:disabled):not(.disabled).active,.btn-outline-primary:not(:disabled):not(.disabled):active,.show>.btn-outline-primary.dropdown-toggle{
    color:#fff;
    background-color:#e66767;
    border-color:#e66767
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,.btn-outline-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-outline-primary.dropdown-toggle:focus{
    -webkit-box-shadow:0 0 0 .2rem rgb(241, 177, 177);
    box-shadow:0 0 0 .2rem rgb(241, 177, 177);
}

.btn-success {
    box-shadow: 0 2px 6px 0  rgba(40, 167, 69, 0.65);
}
.btn-secondary {
    box-shadow: 0 2px 6px 0  rgba(108, 117, 125, 0.65);
}
.btn-danger {
    box-shadow: 0 2px 6px 0  rgba(220, 53, 69, 0.65)
}
.btn-warning {
    box-shadow: 0 2px 6px 0  rgba(255, 193, 8, 0.65)
}
.btn-info {
    box-shadow: 0 2px 6px 0  rgba(23, 162, 184, 0.65)
}
.btn-rounded {
    border-radius: 1.5rem!important;
}
button .svg-inline--fa {
    margin: 0 5px;
}
/* Pagination */
.page-link{
    color: #e66767;
}

.page-link:hover{
    color: #FFFFFF;
    background-color: #e66767;
    border-color: #e66767;
}

.page-item.active .page-link
{
    background-color: #e66767;
    border-color: #e66767;
}
.pagination-split li {
    margin-left: 5px;
    display: inline-block;
}

.pagination-split li:first-child {
    margin-left: 0;
}

.pagination-split li a {
    border-radius: 3px;
}
/* Tables */
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #edf1f5;
}

/* Forms */
.form-control:focus {
    border-color: #495057;
    box-shadow: 1px 0px 20px rgba(187, 50, 255, 0.05);

  }
  .form-control:disabled, .form-control[readonly] , .custom-select:disabled{
    background-color: #edf1f5;
    opacity: 1;
    color: #afafaf;

  }
  .custom-select option {
    background: #edf1f5;
  }
  .custom-control-input:focus{
    background-color:#e66767;
    -webkit-box-shadow:0 0 0 0.2rem rgb(241, 177, 177);
    box-shadow:0 0 0 0.2rem rgb(241, 177, 177);
  }
  .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
  .custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color:#e66767;
  }
  .custom-control-input:checked~.custom-control-label::before {
    background-color:#e66767 !important;
  }


/* dashboard */
.d-board-card:hover{
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.09);
}
.d-board-card a {
    text-decoration: none;
    color: #6c757d;
}
.d-board-card a:hover {
    color: #e66767;
}
.d-board-title{
    font-weight: 600;
    text-align: center;
    font-size: 20px;
}
.d-board-icon{
    font-size: 50px;
    text-align: center;
}
.d-board-text{
    font-size: 12px;
    color: #b8b8b9;
    text-align: center;
}

/* Icons */
.icons-box div{
    margin:15px 0px;
}
.icons-box div:hover {
    color: #e66767;
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}

/* Modals */
.modal-content {
    display: block;
}
.modal-icon {
    width: 20%;
    float: left;
    font-size: 50px;
    padding:20px;
}
.modal-text{
    width: 70%;
    float: left;
    padding:20px;
}

/* Style Switcher */
input[type="checkbox"],
input[type="radio"] {
  position: absolute;
  visibility: hidden;
}

.settings-box-element {
  z-index: 10;
}

.buttons-wrapper {
  position: fixed;
  top: 130px;
  right: -200px;
  width: 200px;
  background: #fff;
  border: none;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.05);
  padding: 20px 10px;
}

.buttons-wrapper a {
    text-decoration: none;
}

#styleOptions div{
    margin:5px;
}
.settings-btn + label {
  position: fixed;
  top: 130px;
  right: 0;
  display: block;
  color: #FFFFFF;
  text-align: center;
 cursor: pointer;
    background: #e66767;
    float: right;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    border-radius: 20px 0 0 20px;
    width: 40px;
    font-size: 25px;
}

.settings-btn:checked + label {
  right: 200px;
}

.settings-btn:checked ~ .buttons-wrapper {
  right: 0;
}
